.buttons {   
    padding: 6px 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-top: 20px;
    text-align: center;
}
.buttons_primary,.buttons_secondary{
    border: none;
    border-radius: 10px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}
.buttons_primary { 
    color: #ffffff;
    background-color: var(--colorAzul);   
}

.buttons_secondary {
    color: #ffffff;
    background-color: #cb1b2c;
}

.buttons_primary:hover {
    background-color: rgb(0, 98, 255);

}

.buttons_secondary:hover {   
    background-color: rgb(127, 6, 6);
}