/* font-family: 'Roboto', sans-serif; */

:root{
    --tipografiaGeneral: 'Roboto', sans-serif;
    --colorAmarillo: #EAC926;
    --colorAzul:#0b39ef;
    --colorGrisOscuro: #666;
    --colorGrisClaro: grey
}
body{
    font-family: var(--tipografiaGeneral);
    font-size:12px; 
    margin: 0; 
    background-color:#ebebeb
}
h2{
    font-size: 24px;
}
p {
    font-size: 16px;
}

p.main--articulo-precio {
    font-size: 18px;
}

.burger-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    top: -10px; 
    margin: 15px auto 30px;

    background-color: #03264C;
    width: 15vw;
    height: 7vh;
    border-radius: 17%;
    color: white;
}
a {
    text-decoration: none;
    color: black;
}
li {
    list-style: none;
}
ul {
    padding: 0;
}
